<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.northeastern.numad25sp_group4">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindfulJot">

        <!-- Initial Logo Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login and Signup Activities -->
<!--        <activity android:name=".LoginActivity" />-->
<!--        <activity android:name=".SignupActivity" />-->

        <!-- Onboarding Activities -->
<!--        <activity android:name=".onboarding.WelcomeActivity" />-->
<!--        <activity android:name=".onboarding.GoalsActivity" />-->
<!--        <activity android:name=".onboarding.NotificationsActivity" />-->
<!--        <activity android:name=".onboarding.TutorialActivity" />-->

        <!-- Main Activities -->
        <activity android:name=".HomeActivity" />
<!--        <activity android:name=".PrimaryEmotionActivity" />-->
<!--        <activity android:name=".SpecificEmotionActivity" />-->
<!--        <activity android:name=".JournalSummaryActivity" />-->
<!--        <activity android:name=".AnalyticsActivity" />-->
<!--        <activity android:name=".EntriesActivity" />-->
<!--        <activity android:name=".EntryListActivity" />-->
<!--        <activity android:name=".EntryEditActivity" />-->
<!--        <activity android:name=".SettingsActivity" />-->
    </application>

</manifest>